# Deploy to heroku
gunicorn
django-heroku
dj-static

# django
Django
djangorestframework

# django mongodb
django-rest-framework-mongoengine
mongoengine

# django cors
django-cors-headers

# line chatbot
line-bot-sdk

# fake news detection
scikit-learn
numpy
scipy

# news please
news-please

# fix heroku deploy problem
psycopg2-binary