gunicorn==19.9.0
django-heroku==0.3.1
Django==2.1.5
djangorestframework==3.9.0
django-rest-framework-mongoengine==3.3.1
mongoengine==0.16.3
django-cors-headers==2.4.0
line-bot-sdk==1.8.0
scikit-learn==0.20.2
numpy==1.15.4
scipy==1.1.0
news-please==1.2.50
psycopg2-binary==2.7.7
dj-static==0.0.6